.footer__column-link {
  text-decoration: none;
  color: white;

  font-size: 18px;
  font-weight: normal;
  line-height: 18px;

  display: block;

  margin: 0;
  padding: 0;

  transition: opacity 200ms ease-out;
}

.footer__column-link:hover {
  opacity: 0.6;
}
