.footer__column-link {
    text-decoration: none;
    color: white;

    font-size: 18px;
    font-weight: normal;
    line-height: 18px;

    border: 1px solid red;
    display: block;

    padding: 0;
}