@import url(./_description/techniques__item_description.css);
@import url(./_image/techniques__item_image.css);
@import url(./_title/techniques__item_title.css);

.techniques__item {
    max-width: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin: 0;
}