.header__subtitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;

  width: 388px;

  position: absolute;
  left: 64px;
  bottom: 30px;

  margin: 0;

  z-index: 2;
}