@import url(./__link/feynman__link.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__title/feynman__title.css);

.feynman {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    position: relative;

    background: url(../../../images/feynman.png) no-repeat;
    background-size: 867px 637px;
    background-position: left bottom;
    background-color: #f2f2f2;

    height: 100vh;

    padding-top: 100px;
    margin: 0;
}