.footer {
    min-height: 350px;
    text-decoration: none;
    background-color: #1d1d1d;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
}